---
import MainLayout from "../layouts/main-layout.astro";
import QuoteText from "../components/quote.tsx";
import Facebook from "../icons/facebook.tsx";
import Instagram from "../icons/instagram.tsx";
---

<MainLayout title="Aneka | Acerca de Nosotros">
  <!-- Banner Section -->

  <section class="w-full bg-about h-[50vh] flex justify-center items-end">
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Acerca de nosotros
      </h1>
      <p
        class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"
      >
        <a href="/">Inicio</a> / Acerca de nosotros
      </p>
    </div>
  </section>
  <!-- The End Result Section -->

  <section
    class="w-full pt-[10px] lg:pt-[150px] px-12 lg:px-0 mx-auto lg:max-w-[1200px]"
  >
    <div
      class="w-full flex flex-col-reverse lg:flex-row-reverse justify-between gap-24 items-center"
    >
      <div class="flex flex-col gap-6">
        <h2
          class="text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue"
        >
          La familia Aneka
        </h2>
        <p
          class="text-base md:text-[22px] lg:max-w-[95%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]"
        >
          Somos una pareja apasionada que nos dedicamos con todo el corazón a la
          creación de garrapiñadas artesanales, llevando el encanto de los
          mercados a cada bocado. Inspirados por el ambiente vibrante y
          nostálgico de ferias y mercados, decidimos compartir nuestra pasión
          por las delicias caramelizadas.
        </p>
      </div>
      <img class="h-80 rounded-md" src="/aboutJessi.jpg" alt="jessi" />
    </div>
  </section>
  <!-- Quote Section -->

  <section
    class="bg-primary-300 mt-[100px] w-full px-12 lg:px-0 pt-[100px] lg:pt-[100px] lg:max-w-[1200px] mx-auto flex items-center justify-center"
  >
    <QuoteText
      text="Aneka jati samsaram sandhavissam anibbisam gahakaram gavesanto dukkha jati punappunam."
      name="Buda"
    />
  </section>

  <!--porque aneka Section -->

  <section
    class="bg-indigo-200 w-full pt-[10px] lg:pt-[15px] px-12 lg:px-0 mx-auto lg:max-w-[1200px]"
  >
    <div
      class="w-full flex flex-col-reverse lg:flex-row justify-between gap-10 items-center"
    >
      <div class="flex flex-col gap-6">
        <h2
          class="p-5 text-[30px] text-center lg:text-left font-dm tracking-wide capitalize leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue"
        >
          ¿Porqué ANEKA?
        </h2>
        <p
          class="p-5 text-base md:text-[22px] lg:max-w-[85%] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]"
        >
          Elegimos esta palabra que en Pali, la lengua que hablaba en Buda hace
          2500 años, significa INFINITO. Nos parece que es una palabra muy
          potente y nos motiva a trabajar y seguir adelante día a día.
        </p>
      </div>
      <img
        class="p-5 h-80 rounded-lg"
        src="/aboutAneka.jpeg"
        alt="imagen buda"
      />
    </div>
  </section>

  <!-- What People Think About Us Section -->

  <section
    class="w-full py-[10px] lg:py-[20px] mt-[100px] px-12 lg:px-0 mx-auto bg-primary-300"
  >
    <div class="w-full flex flex-col gap-10 lg:max-w-[1200px] mx-auto">
      <div class="flex w-full overflow-x-scroll gap-4 flex-row no-scrollbar">
        <img class="h-80 rounded-xl" src="/aboutJessi.jpg" alt="" />

        <div
          class="flex flex-col gap-10 w-full justify-between py-[70px] px-7 bg-white min-w-[284px] items-center rounded-[32px]"
        >
          <p class="flex flex-col tracking-tight leading-9 text-center">
            <span class="text-primary-200 text-lg lg:text-[25px] font-dm"
              >Aneka Garrapiñadas</span
            >
            <span class="text-text-gray-200 text-base lg:text-lg font-jost">
              Barcelona, ES</span
            >
          </p>
          <div class="flex gap-6">
            <a href="www.facebook.com/aneka.garrapi/">
              <Facebook />
            </a>
            <a href="/">
              <Instagram />
            </a>
          </div>
          <p class="flex flex-col tracking-tight leading-9 text-center">
            <span class="text-text-gray-200 text-base lg:text-lg font-jost">
              +34 1234-1234</span
            >
            <span class="text-text-gray-200 text-base lg:text-lg font-jost">
              aneka.garrapi@gmail.com</span
            >
          </p>
        </div>
        <img class="h-60 rounded-lg" src="/aboutfito.jpg" alt="" />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
