---
import Navbar from "../components/navbar.tsx";
import Footer from "../components/footer.tsx";

export interface LayoutProps {
  title: string;
}

const { title } = Astro.props as LayoutProps;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Aneka Garrapiñadas Artesanas" />
    <meta title={title} />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <meta
      name="description"
      content="Aneka garrapiñadas artesanas, ferias y mercados, frutos secos caramelizados, almendras, avellanas, cacahuetes, sesamo, pipas de girasol, pipas de calabaza, coco, quicos"
    />
    <meta
      name="keywords"
      content="aneka garrapiñadas garrapinyadas almendras caramelizados caramelizada almendra avellana cacahuete sesamo girasol coco ferias mercados"
    />
    <meta name="robots" content="index" />
  </head>
  <body>
    <main class="bg-main bg-no-repeat bg-cover bg-center">
      <Navbar client:load />
      <slot />
      <!-- All different pages to be rendered here -->
      <Footer />
    </main>
    <p
      class="tracking-tight text-base text-center border border-gray-300 bg-white py-10 lg:text-[22px] lg:leading-[33px] font-jost text-text-gray"
    >
      Copyright© {new Date().getFullYear()} Aneka Garrapiñadas | Diseñado por <a
        href="https://fitusweb.netlify.app/"
        target="_blank"
        class="text-indigo-500"
        rel="noopener">Fitus</a
      >
       | Imágenes por <a href="www.freepik.com" target="_blank" rel="noopener"
        >Freepik</a
      >
    </p>
    <p></p>
  </body>
</html>
